[Unit]
Description=전적옴닉 OCR Reader
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/bin/python3 -u /path/to/bot/parse.py funzinnu
# Required on some systems
WorkingDirectory=/path/to/bot
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yousabot-ocr
#User=<alternate user>
#Group=<alternate group>
#Environment=NODE_ENV=production PORT=81

[Install]
WantedBy=multi-user.target